.DS_Store
time_out
track_out
filelists
reducedOut
file1.txt
file2.txt
aper_out
plots
*.py?
Code/*.py?
Code/outputs/*
Code/oscaar/*.py?
Code/oscaar/astronometry/*.py?
Code/oscaar/photometry/*.py?
Code/oscaar/transiter/*.py?
Extras/eph/exoplanets.csv
Extras/eph/exoplanetDB.pkl
Extras/eph/eventReport.html
Extras/eph/eventReport.txt
outputs/oscaarDataBase.npz
outputs/oscaarDataBase.pkl
outputs/notes.txt
Extras/eph/*.py?
Extras/Examples/sampleData/*.py?
Extras/Examples/sampleData/images/*
Extras/Examples/sampleData/c/build
Extras/Examples/sampleData/c/*.so
Docs/documentation20130204/*.log
Docs/documentation20130204/*.aux
Docs/documentation20130204/*.out
Docs/documentation20130204/*.gz
Docs/documentation20130204/*.toc
