.DS_Store
*.py?
oscaar/extras/eph/ephOutputs/*.csv
oscaar/extras/eph/ephOutputs/*.pkl
oscaar/extras/eph/ephOutputs/*.html
oscaar/extras/eph/ephOutputs/*.txt
outputs/*.npz
outputs/*.pkl
outputs/*.txt
oscaar/extras/eph/*.py?
docs/documentationInProgress/*.log
docs/documentationInProgress/*.aux
docs/documentationInProgress/*.out
docs/documentationInProgress/*.gz
docs/documentationInProgress/*.toc
oscaar/extras/ds9/
oscaar/extras/eph/ephOutput
oscaar/c/build
oscaar/c/*.so
oscaar/init.par
oscaar/observatory.par
oscaar/outputs/*.pkl
oscaar/outputs/*.txt
