.DS_Store
time_out
track_out
filelists
reducedOut
file1.txt
file2.txt
aper_out
plots
*.pyc
Code/oscaar/*.pyc
Extras/eph/exoplanets.csv
Extras/eph/exoplanetDB.pkl
Extras/eph/eventReport.html
Extras/eph/eventReport.txt
outputs/oscaarDataBase.npz
outputs/oscaarDataBase.pkl
